body{
    background-color: whitesmoke;
}
.row1{
    margin-left: 80%;
    font-family: 'Knewave', cursive;
    font-family: 'Tangerine', cursive;
    font-family: 'Bungee Inline', cursive;
    margin-bottom: 3%;
}
.row2{
    margin-left: 5%;
    margin-top: -4%;
    font-family: 'Knewave', cursive;
    font-family: 'Tangerine', cursive;
    font-family: 'Bungee Inline', cursive;
    margin-bottom: 10%;
}
.row3{
    margin-left: 10%;
    margin-bottom: 10%;
}
.row4{
    margin-left: 5%;   
}
.row5{
    margin-left: 35%;
    margin-top: -19.5%;
    margin-bottom: 10%;
}
.row6{
    margin-left: 30.2%;
    margin-top: -0.1%;
    margin-bottom: 4%;
}
