.row1{
    margin-left: 80%;
    font-family: 'Knewave', cursive;
    font-family: 'Tangerine', cursive;
    font-family: 'Bungee Inline', cursive;
}
.row2{
    margin-left: 5%;
    margin-top: -5%;
    font-family: 'Knewave', cursive;
    font-family: 'Tangerine', cursive;
    font-family: 'Bungee Inline', cursive;
}
.row3{
    margin-left: 40%
}